<div class="m-svg-demonstration">
    <div class="m-svg-demonstration__title">
        <h2>Выведем все иконки!</h2>
    </div>
    <div class="m-svg-demonstration__content" layout="row" layout-padding>
        <div flex ng-cloak>
            <md-grid-list
                    md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px" >

                <md-grid-tile ng-repeat="tile in tiles"
                              md-rowspan="{{tile.span.row}}"
                              md-colspan="{{tile.span.col}}"
                              md-colspan-sm="1"
                              md-colspan-xs="1"
                              ng-style="{backgroundColor: tile.background}" >
                    <md-icon ng-bind-html="tile.icon"></md-icon>
                    <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <div flex="20"></div>
    </div>
</div>